.main {
  min-height: 90%;
  background-image: linear-gradient(
    to bottom,
    #fafafa,
    #f6f6f6,
    #f2f2f2,
    #eeeeee,
    #eaeaea
  );
}
/* ant delete icon */
.anticon-delete {
  color: #a00a18 !important;
}

.ant-input:hover {
  border-color: #7d3192 !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #7d3192 !important;
}

.ant-select-selector:hover {
  border-color: #7d3192 !important;
}

.ant-select-item-option-selected {
  background-color: #f3e8ff !important;
}
.ant-select-dropdown {
  z-index: 1 !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #7d3192 !important;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #7d3192 !important;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #7d3192 !important;
}

/* .ant-switch-checked {
      background: #00C3B3 !important
  } */
