@import url(./marketplaceTheme.css);

.main {
    min-height: 90%;
    background-image: linear-gradient(to bottom, #fafafa, #f6f6f6, #f2f2f2, #eeeeee, #eaeaea);
}
/* ant delete icon */
.app-primary-color {
    color: var(--mp-primary-color) !important;
}
.app-primary-color:hover {
    color: var(--mp-primary-color-h) !important;
}


.input-label-color {
    color: var(--mp-input-field-label-color) !important;
}


::placeholder {
    color: var(--mp-input-field-placeholder-color) !important;
}

.mandatory-symbol-color {
    color: var(--mp-mandatory-symbol-color) !important;
}
a:hover {
    color: var(--mp-input-field-hover-color) !important;
}

a {
    color: var(--mp-brand-color) !important;
}

.customClass:hover svg path {
    fill: var(--mp-brand-color) !important;
    transition: fill 0.3 ease-in-out;
}

