.app-btn-primary {
  background-color: #1677ff !important;
  color: #ffffff !important;
  /* border:1px solid #1677ff!important; */
  height: unset !important;
}
.app-btn-primary:hover {
  background-color: #4096ff !important;
}
.app-btn-secondary {
  background-color: #f4f4f4 !important;
  color: #1f1f1f !important;
  /* border: 1px solid #1f1f1f !important; */
  height: unset !important;
}
.app-btn-secondary:hover {
  border-color: #4096ff !important;
  color: #4096ff !important;
}
.app-btn-approve {
  background-color: #00c3b3 !important;
  color: #f6f6f6 !important;
  border: 1px solid#00C3B3 !important;
  height: unset !important;
}
.app-btn-reject {
  background-color: #f6f6f6 !important;
  color: #a00a18;
  border: 1px solid #a00a18 !important;
  height: unset !important;
}
.app-btn-review {
  background-color: #f6f6f6 !important;
  color: #393939 !important;
  border: 1px solid #393939 !important;
  height: unset !important;
}
/* .ant-btn{
    border-radius:  0.23em !important;
} */
