  .ant-menu-item-selected {
  background-color: var(--mp-brand-color) !important;
}

.ant-menu-item:not(.ant-menu-item-selected):active {
    background-color: var(--mp-brand-color) !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon {
  min-width: 20px !important;
}