.headerIcon {
    vertical-align: 0.2em !important;
}

.headerWidth {
    width: -webkit-fill-available;
    width: -moz-available;
}

.header {
    background-color: var(--mp-header-bg-color) !important;
}
.portalNameTag {
    padding: 0px !important;
    border-radius: 2px !important;
    border: none !important;
    background-color: #c41d7f !important;
}
.custom-avatar > img {
    margin-top: 0px;
    object-fit: contain;
    background: white;
}
