.btn-secondary {
  color: #fff !important;
  outline: none;
  background-color: white;
  border-color: #d9d9d9 !important;
}
.btn-secondary:hover {
  background-color: white !important;
  /* border:1px solid #1890ff !important; */
}
/* search button ant-input */
.ant-input-search-button{
  padding-bottom: 4px !important; 
  border-radius: 0px !important;
}
/* ant input */
.ant-input{
  border-radius: 0px !important;
}
.ant-table-thead>tr>th {
  padding: 0 16px 0 18px !important;
}
.ant-table-tbody>tr>td {
  padding-left: 18px !important;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child th:first-child {
  border-start-start-radius: 0px !important;
}

.ant-table-container table>thead>tr:first-child th:last-child {
  border-start-end-radius: 0px !important;
}

/* border-color: #6c757d;
   }
   /* .dropdown{
     height: 40px;
     width: 110px;
     border: none;
   } */
/* button.btn.btn-secondary{
    width:'45px';
    height:'30px';
  } */
